:root {
    --fmisc-bookmark-body-bg__card-view: var(--b3-theme-surface-light);
    --fmisc-bookmark-group-bg__card-view: var(--b3-theme-background);
}

.custom-bookmark-body.card-view {
    background-color: var(--fmisc-bookmark-body-bg__card-view);
}

.custom-bookmark-body.card-view .custom-bookmark-group {
    &:not(.dragover) {
      background-color: var(--fmisc-bookmark-group-bg__card-view);
    }
    &:hover {
        box-shadow: 0 0 5px 2px var(--b3-theme-primary-lightest);
    }

    border-radius: 15px;
    margin: 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    & .custom-bookmark-group-header {
        font-size: 1.2em;
        line-height: 1.4em;
        background-color: inherit;
        &:hover {
            background-color: inherit !important;
        }
    }

    & .custom-bookmark-item {
        margin: 5px 8px;
        & span.b3-list-item__toggle {
            padding-left: 12px !important;
        }
    }
}
